<div class="cart-outer-cnt">
  <!-- Breadcrumb -->
  <div class="breadcrumb">
    <a href="#" routerLink="/dashboard/books">Home</a> /<span>My Cart</span>
  </div>

  <!-- Cart Section -->
  <div class="cart-details-container">
    <div *ngIf="cartItems.length > 0" class="cart-section">
      <div class="cart-cnt">
        <h3>My cart ({{cartItems.length}})</h3>
        <div class="loc-icon-cnt">
          <span class="loc-icon">
            <mat-icon svgIcon="location-icon"></mat-icon>
            Harsha, Bangalore, No...
            <mat-icon svgIcon="drop-down-icon"></mat-icon>
          </span>
        </div>
      </div>

      <!-- Book Details -->
      <div *ngFor="let item of cartItems" class="book-details">
        <div class="book-item">
          <img [src]="item.imagePath" alt="Book Cover" />
          <div class="book-info">
            <h4 class="book-title">{{ item.title }}</h4>
            <p class="book-author">{{ item.author }}</p>
            <span class="book-price"><b>Rs.{{ item.price }} </b><del class="delete">Rs.699</del></span>            <div class="quantity-update">
              <span class="symbol" (click)="decreaseCount(item)">-</span>
              <span class="number-of-books">{{ item.quantity }}</span>
              <span class="symbol" (click)="increaseCount(item)">+</span>
              <button (click)="removeFromCart(item)" class="remove-btn">Remove</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Place Order Button -->
      <div class="place-order">
        <button class="place-order-button" (click)="handlePlaceOrder()">Place Order</button>
      </div>
    </div>

    <!-- Empty Cart Message -->
    <div *ngIf="cartItems.length === 0">
      <p>Your cart is empty.</p>
    </div>
  </div>

  <!-- Address Details & Order Summary -->
  <div class="cart-details-container">
    <div class="cart-section" (click)="toggleAddressDetails()">
      <h3>Address Details</h3>
      <div class="address-details" *ngIf="showAddressDetails" (click)="$event.stopPropagation()">
        <app-customer-details (addressSelected)="onAddressSelected($event)"></app-customer-details>
      </div>
    </div>

    <!-- Order Summary -->
    <div class="cart-section" (click)="toggleOrderSummary()">
      <h3>Order Summary</h3>
      <div class="order-summary" *ngIf="showOrderSummary" (click)="$event.stopPropagation()">
        <div *ngFor="let item of cartItems">
          <div class="book-item">
            <img [src]="item.imagePath" alt="Book Cover" />
            <div class="book-info">
              <h4>Title: {{ item.title }}</h4>
              <p>Author: {{ item.author }}</p>
              <p>Price: Rs. {{ item.price }}</p>
            </div>
          </div>
        </div>
        <button class="checkout-button" (click)="handleCheckout()">Checkout</button>
      </div>
    </div>
  </div>
</div>
